.pytest_cache/*
api/node_modules/*
api/.serverless/*
api/.requirements.zip
api/android/*
api/mockup.py.bak
npm-debug.log
.pytest_cache/
node_modules/
serverless/
requirements.zip
android/
mockup.py.bak
npm-debug.log
package-lock.json
requirements.txt-e 
latest_model_weights.h5
notebooks/.ipynb_checkpoints
