[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
jupyter = "*"

[packages]
tensorflow = "*"
Pillow = "*"
matplotlib = "*"
youtube-dl = "*"
pafy = "*"
flask = "*"
tqdm = "*"
werkzeug = "*"

[requires]
python_version = "3.7"
